html {
    font-size: 10px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body { background-image: url(../img/textureSimone.webp); }

.container {
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
    &.xl { max-width: 150rem; }
    &.lg { max-width: 120rem; }
    &.md { max-width: 86rem; }
    &.sm { max-width: 70rem; }
}

h1,
h2,
h3 { font-weight: 400;}

h1,
h3 { font-family: $ff-prim;}

h2 {
    font-family: $ff-sec;
    font-size: 11rem;
}

h2,
h3 {
    margin: 0;
}

h1 { font-size: 5rem; }

h3 { font-size: 5rem; }

h4 { font-weight: 400; }

@supports (-webkit-text-stroke: 1px black) {
    h2 {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: white;
    }
}

a {
    font-family: $ff-sec;
    text-decoration: none;
    color: black;
}

img { max-width: 100%; }