.top-nav {
    display: flex;
    gap: 6em;
    border-bottom:  solid 1px black;
    .logo{
        margin-right: auto;
        width: 100px;
        height: 50px;
        background-color: aqua;
    }
    .nav-links {
        font-size: 1.6rem;
        text-align: center;
        padding: 1.5rem;
        
    }
}