$primary-color:   #1f1f1f;
$secondary-color: #BC978C;

$white:           #ffffff;
$black:           #000000;

$shadow:           rgba(0,0,0, .2);
$txt-shadow:         rgba(0, 0, 255, .8);

$ff-prim:     'Cormorant Garamond, serif'; // 300,400,400i,500,600,700,800
$ff-sec:   Lab Mono, monospace;