.story__content,
.contact,
.menu__emojis {
  flex-direction: column;
}

.sect__menu { 
  position: relative; 
  margin: 0 -6rem;
}

.menu__title {
  position: absolute;
  top: 0;
}

.menu__title__left {
  left: 0;
  transform: rotate(-90deg);
}

.menu__title__right {
  right: 0;
  transform: rotate(90deg);
}

.sect__about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.story__content {
  max-width: 55rem;
  align-items: start;
  padding: 3rem;
}

.about__contact {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 2rem;
  font-family: $ff-sec;
}

.contact {
  padding: 2rem;
  text-align: center;
}

.sect__bg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .img__container {
    overflow: hidden;
    border: 1px solid $black;
    box-shadow: 0 0 12px $shadow;
  }
}


.sect__menu__drink {
  .menu__title {top: 12rem;}
}


.sect__bg__food {
  .img__container:nth-of-type(2) {
    background: url(../img/food-bg.webp) center no-repeat;
    background-size: cover;
    height: 50rem;
  }
  .img__container:nth-of-type(3) {
    background: url(../img/food-bg2.webp) center no-repeat;
    background-size: cover;
    height: 65rem;
  }
}

.sect__bg__drink {
  .img__container:nth-of-type(2) {
    background: url(../img/food-bg3.webp) center no-repeat;
    height: 50rem;
  }
  .img__container:nth-of-type(3) {
    background: url(../img/food-bg4.webp) center no-repeat;
    background-size: cover;
    height: 65rem;
  }
}


.menu__emojis {
  font-size: 4rem;
  display: flex;
  align-items: center;
  position: absolute;
  left: 12rem;
  top: 21rem;
  height: 50rem;
  span {
    margin-bottom: 2rem;
  }
}



